html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,m,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    -webkit-text-size-adjust: none
}
mark {
    background-color: transparent;
    color: inherit
}
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input,
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    min-width: 320px;
    min-height: 100vh;
    line-height: 1.0;
    word-wrap: break-word;
    overflow-x: hidden;
}
strong {
    color: inherit;
    font-weight: bolder;
}
em {
    font-style: italic;
}
code {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: normal;
    text-indent: 0;
    letter-spacing: 0;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
    background-color: rgba(144, 144, 144, 0.25);
    border-radius: 0.25em;
}
mark {
    background-color: rgba(144, 144, 144, 0.25);
}
a {
    -moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    -webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    -ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    color: inherit;
    text-decoration: underline;
}
s {
    text-decoration: line-through;
}
body:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-image: url('img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-color: #FFFFFF;
}
html {
    font-size: 18pt;
}
#wrapper {
    -webkit-overflow-scrolling: touch;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    z-index: 2;
    padding: 1.75rem 1.75rem 1.75rem 1.75rem;
}
#main {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: relative;
    max-width: 100%;
    z-index: 1;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    background-image: linear-gradient(45deg, #24C6DC 0%, #514A9D 100%);
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: cover;
    border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
    -moz-transition: opacity 1s ease 0s, -moz-transform 1s ease 0s;
    -webkit-transition: opacity 1s ease 0s, -webkit-transform 1s ease 0s;
    -ms-transition: opacity 1s ease 0s, -ms-transform 1s ease 0s;
    transition: opacity 1s ease 0s, transform 1s ease 0s;
}
#main > .inner {
    overflow-x: hidden;
    width: 35rem;
    max-width: 100%;
    padding: 4.375rem 3.5rem;
}
#main > .inner > * {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
#main > .inner >:first-child {
    margin-top: 0 !important;
}
#main > .inner >:last-child {
    margin-bottom: 0 !important;
}
#main > .inner > .image {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}
#main > .inner > .video {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}
body.is-loading #main {
    opacity: 0;
    -moz-transform: translateX(1.5rem);
    -webkit-transform: translateX(1.5rem);
    -ms-transform: translateX(1.5rem);
    transform: translateX(1.5rem);
}
#social {
    cursor: default;
    margin-top: 1rem !important;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -ms-max-content;
    width: max-content;
    margin-left: auto !important;
    margin-right: auto !important;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Overpass';
    letter-spacing: 0.325rem;
    width: calc(100% + 0.325rem);
    font-size: 0.8em;
    line-height: 0.75;
    font-weight: 400;
}
#social a {
    -moz-transition: opacity 0.25s ease;
    -webkit-transition: opacity 0.25s ease;
    -ms-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    opacity: 0.5;
    text-decoration: none !important;
    text-decoration: underline;
}
#social a:hover {
    opacity: 1;
    text-decoration: none !important;
    text-decoration: none;
}
.image {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    display: block;
}
.image img {
    width: 100%;
    max-width: 100%;
    display: inline-block;
}
#logo img {
    width: 6rem;
}
h1 br + br,
p br + br {
    display: block;
    content: ' ';
}
#wordmark br + br {
    margin-top: 0.9rem;
}
#wordmark {
    color: #FFFFFF;
    font-family: 'Quicksand';
    letter-spacing: 0.05rem;
    width: calc(100% + 0.05rem);
    font-size: 2.25em;
    line-height: 1.5;
    font-weight: 400;
}
#tagline br + br {
    margin-top: 0.45rem;
}
#tagline {
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Overpass';
    letter-spacing: 0.325rem;
    width: calc(100% + 0.325rem);
    font-size: 0.8em;
    line-height: 0.75;
    font-weight: 400;
}
#social br + br {
    margin-top: 0.45rem;
}
.buttons {
    cursor: default;
    padding: 0;
    letter-spacing: 0;
}
.buttons li a {
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    max-width: 100%;
}
#cta {
    width: calc(100% + 0.75rem);
    margin-left: -0.375rem;
}
#cta li {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 0.75rem);
    margin: 0.375rem;
}
#cta li a {
    display: block;
    width: 13.625rem;
    height: 3.25rem;
    line-height: 3.25rem;
    padding: 0 1.625rem;
    text-transform: uppercase;
    font-size: 0.875em;
    font-family: 'Overpass';
    letter-spacing: 0.325rem;
    padding-left: calc(0.325rem + 1.625rem);
    font-weight: 700;
    border-radius: 0.5rem;
}
#cta .btn {
    background-color: #FFFFFF;
    color: #188F81;
}
@media (max-width: 1680px) {
    html {
        font-size: 13pt;
    }
}
@media (max-width: 1280px) {
    html {
        font-size: 13pt;
    }
}
@media (max-width: 980px) {
    html {
        font-size: 11pt;
    }
    body {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #24C6DC;
    }
    body:before {
        position: relative;
        width: 100%;
        height: 45vh;
        -moz-flex-grow: 1;
        -webkit-flex-grow: 1;
        -ms-flex-grow: 1;
        flex-grow: 1;
        -moz-flex-shrink: 0;
        -webkit-flex-shrink: 0;
        -ms-flex-shrink: 0;
        flex-shrink: 0;
    }
    #main {
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        text-align: center;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        background-image: linear-gradient(45deg, #24C6DC 0%, #514A9D 100%);
    }
    #main > .inner {
        width: auto;
        max-width: 75%;
        -moz-transition: opacity 1s ease-in-out 0s;
        -webkit-transition: opacity 1s ease-in-out 0s;
        -ms-transition: opacity 1s ease-in-out 0s;
        transition: opacity 1s ease-in-out 0s;
    }
    #wrapper {
        height: auto !important;
        min-height: 0;
        padding: 0;
    }
    body.is-loading #main {
        -moz-transform: none;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        opacity: 1;
    }
    body.is-loading #main > .inner {
        opacity: 0;
    }
}
@media (max-width: 736px) {
    html {
        font-size: 11pt;
    }
    #main > .inner {
        padding: 3rem 2rem;
        max-width: 100%;
    }
}
@media (max-width: 480px) {
    #cta {
        margin-left: 0;
        width: 100%;
        padding: 0.375rem 0;
    }
    #cta li {
        max-width: 100%;
        display: block;
        margin: 0.75rem 0;
    }
    #cta li:first-child {
        margin-top: 0;
    }
    #cta li:last-child {
        margin-bottom: 0;
    }
    #cta li a {
        display: inline-block;
        width: 22rem;
    }
}
@media (max-width: 360px) {
    #main > .inner {
        padding: 2.5rem 1.25rem;
    }
    #wordmark {
        font-size: 2em;
    }
    #cta {
        width: calc(100% + 0.5625rem);
        margin-left: -0.28125rem;
        width: 100%;
        margin-left: 0;
        padding: 0.28125rem 0;
    }
    #cta li {
        max-width: calc(100% - 0.5625rem);
        margin: 0.28125rem;
        max-width: 100%;
        margin: 0.5625rem 0;
    }
}
